$rootColor: navy;
$headerColor: Orange;
$baseColor: white;

body {
  background: lighten($rootColor, 35);
  color: $baseColor;
 
  header {
    font-weight: bold;
    color: $headerColor;
  }

  main {
      width:90%;
  }
  
  footer {
    background: darken($rootColor,50);
    font-style: italic;
  }
}
